<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>{{ page.title }}</title>

	<script>
		if ( window.location.host == 'mitcho.github.io' )
			window.location = window.location.toString().replace('mitcho.github.io/turktools/','turktools.net/');
	</script>

	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<h1><a href='/'>Turktools</a></h1>
			<p>Tools to prepare linguistic surveys for Amazon Mechanical Turk</p>

			<ul class='buttons'>
				<li><a href="https://github.com/mitcho/turktools/zipball/master">Download <strong>ZIP File</strong></a></li>
				<!-- <li><a href="http://ling.auf.net/lingbuzz/001802/current.pdf">Read <strong>The Paper</strong></a></li> -->
				<!-- <li><a href="https://github.com/mitcho/turktools">View On <strong>GitHub</strong></a></li> -->
			</ul>

			<h2><a href="/crowdsourcing">On crowdsourcing</a></h2>
			
			<h2><a href="/use">How to use</a></h2>
			{% if page.path contains 'use' %}
			<ul>{% for item in site.pages %}
			{% if (item.path contains 'use') and (item.path != 'use/index.md') %}
				<li><a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endif %}{% endfor %}</ul>
			{% endif %}
			
			<h2><a href="/contribute">How to contribute</a></h2>
			
			<h2><a href="http://link.springer.com/article/10.1007/s11049-015-9305-9">Paper</a> (<a href="http://ling.auf.net/lingbuzz/001802/current.pdf">preprint</a>)</h2>
			<!--<p><em>Please cite the paper when using the tools</em></p>-->
			
			</ul>
		</header>
		<section>

{% if (page.path != 'index.md') %}<h1>{{ page.title }}</h1>{% endif %}

{{ content }}

		</section>
		<footer>
		
			<p class="view"><a href="https://github.com/mitcho/turktools">View the project on GitHub</a></p>

			<p><small>&copy; 2013&ndash;2014 <a href='http://mitcho.com'>Michael Yoshitaka Erlewine</a> and <a href='http://web.mit.edu/hkotek/www/'>Hadas Kotek</a></small></p>

		</footer>
	</div>
	<script src="/javascripts/scale.fix.js"></script>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-45575866-1");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>

</body></html>